body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: antiquewhite;
}
h1, h2, h3 {
    color: #333;
}
h1 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 0;
}
a img {
    width: 38px;
    height: 48px;
    margin-top: 10px;
}
.section {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul {
    list-style-type: none;
    padding: 0;
}
.single-column {
    columns: 1;
}
.section-skills ul {
    columns: 2;
    column-gap: 40px; /* Espaço entre as colunas */
}
