
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    
}
header {
    background-color: antiquewhite
    color(srgb red green blue);
    text-align: center;
    font-size: 24px;
    font-family: 'Hind Siliguri', sans-serif;
}
header img {
    width: 10px;
}
.container {
    max-width: 800px;
    margin-top: auto;
    margin: auto;
    padding: 20px;
    font-size: 14px;
}
h1 {
    color: #333;
}
a {
    text-decoration: none;
    color: #0074D9;
}
a img {
    width: 38px;
    height: 48px;
}

@media (max-width: 596px){
    .container {
     width: 350px;
     font-size: 16px;
    }
    .header {
        width: 350px;
        font-size: 16px; 
    }
   }
